<nav class="navbar nabar-default center">
  <div class="header">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">
          <a routerLink="set">
            <i class="glyphicon glyphicon-wrench glyphicon1"></i>
            </a>
        </button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">
          <a routerLink="all">
            <i class="glyphicon glyphicon-th glyphicon2"></i>
            </a>
        </button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">
          <a routerLink="sign">
            <i class="glyphicon glyphicon-signal glyphicon3"></i>
            </a>
        </button>
      </div>
    </div>
  </div>

</nav>

<!-- <nav class="navbar nabar-default center">

  <div class="menu-button">

        <ul class="">

          <li routerLinkActive="active">
            <div class="col s4 icon-container">
              <button>
                  <a routerLink="set" class="icon">
                      <i class="glyphicon glyphicon-wrench glyphicon1"></i>

                  </a>
              </button>
          </div>
          </li>

          <li routerLinkActive="active">
            <div class="col s4 icon-container">
              <button>
                  <a routerLink="all" class="icon">
                      <i class="glyphicon glyphicon-th glyphicon2"></i>
                      <span>35</span>
                  </a>
              </button>
          </div>
          </li>

           <li routerLinkActive="active">
            <div class="col s4 icon-container">
              <button>
                  <a routerLink="add" class="icon">
                      <i class="glyphicon glyphicon-plus-sign glyphicon3"></i>

                  </a>
              </button>
          </div>
          </li>
        </ul>
      </div>

</nav>
 -->
