<footer>
  <div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default">
        <a routerLink="photo">
          <i class="glyphicon glyphicon-picture glyphicon1"></i>
          </a>
      </button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default">
        <a routerLink="search">
          <i class="glyphicon glyphicon-search glyphicon2"></i>
          </a>
      </button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default">
        <a routerLink="add">
          <i class="glyphicon glyphicon-plus-sign glyphicon3"></i>
          </a>
      </button>
    </div>
  </div>
</footer>
