<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="../../assets/images/z.jpg" alt="..." style="width: 242px; height: 200px;">
        <div class="caption">
          <h3>Catégorie : All</h3>
          <p>
            <span>Photo ajoutée le :
              <strong> Dimanche le 20 - 04  - 2020</strong>
            </span>
          </p>
          <p>Lieu :
            <strong>Welkenraedt - Belgique</strong>
          </p>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique eaque a natus inventore corrupti?
            Soluta consectetur alias cum aut.</p>
          <p>
            <a href="#" class="btn btn-success" role="button">Editer</a>
            <a href="#" class="btn btn-danger"role="button">Effacer</a>
          </p>
          <!-- <a href="#">Inbox <span class="badge">42</span></a>-->
          <button class="btn btn-primary" type="button">
            Likes <span class="badge">4</span>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
