<h1>Ajouter une image !</h1>

<div class="input-group input-group-lg">
  <span class="input-group-addon" id="sizing-addon2">Titre</span>
  <input type="text" class="form-control" placeholder="Titre de votre image"
   aria-describedby="sizing-addon1">
</div>
<br>

<div class="input-group input-group-lg">
 <!--<span class="input-group-addon" id="sizing-addon2">Photo</span>-->
  <input type="file" class="form-control"
   aria-describedby="sizing-addon1">
</div>
<br>

<div class="input-group input-group-lg mb-6">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Catégories</label>
  </div>
  <select class="custom-select" id="inputGroupSelect01">
    <option selected>Choose...</option>
    <option value="1">All</option>
    <option value="2">Funny</option>
    <option value="3">un</option>
    <option value="4">Family</option>
  </select>
</div>

<br>

<div class="btn-group" role="group">
  <button type="button" class="btn btn-success">Ajouter la photo</button>
</div>

